.page {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(200, 200, 200, 1) 100%
  );
}

.header {
  margin-bottom: 32px;
}
.heading {
  text-align: center;
}

.heading__caption {
  text-align: center;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.data__table {
  width: 100%;
  max-width: 700px;
  border-radius: 4px;
  border: 6px solid lightslategray;
  box-shadow: 1git 5px 15px 15px darkgrey;
}

.data__label-row {
  text-decoration: bold;
  background-color: lightslategray;
  color: white;
}

.data__label-column {
  border-radius: 4px;
  padding: 8px 4px;
}

.temp__row {
}

.temp__lot {
  text-align: right;
  padding-right: 16px;
  border-radius: 4px;
}

.temp__perm {
  text-align: center;
  padding: 8px 4px;
  border-radius: 4px;
}

.temp__add {
  text-align: center;
  border-radius: 4px;
}

.temp__row_gray {
  background-color: rgba(50, 50, 50, 0.15);
}

.lot-link,
.add-link,
.perm-link {
  text-decoration: none;
  color: navy;
}

.footer {
  text-align: center;
  color: darkgrey;
}
